## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## Visual Studio
.vs/
*.sln.docstates

## User-specific files
appsettings.Development.json

## NuGet
packages/
*.nupkg

## JetBrains Rider
.idea/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
